.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img {
  margin-top: 60px;
}

.profile_img {
  width: 300px;
  height: 300px;
  border-radius: 50%; /* makes it perfectly round */
  object-fit: cover; /* ensures the image fills the circle nicely */
  /* border: 3px solid #fff; optional: adds a clean white border */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* optional: soft shadow */
}

.hero h1 {
  text-align: center;
  width: 80%;
  font-size: 70px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 54%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}

.hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid white;
}
.hero-resume:hover {
  border-color: #b415ff;
}

@media (max-width: 768px) {
  .hero img {
    margin-bottom: 60px;
    width: 300px;
  }
  .hero h1 {
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }
  .hero p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .hero-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }
  .hero-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}

.resume-btn {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  /* background-color: #0077ff; */
  border-radius: 6px;
  font-weight: bold;
}

/* .resume-btn:hover {
  background-color: #005fcc;
} */


@media (max-width: 480px) {
  .hero img {
    margin-bottom: 40px;
    width: 250px;
  }

  .hero h1 {
    margin-top: 30px;
    width: 100%;
    font-size: 32px;
    text-align: center;
  }

  .hero p {
    width: 90%;
    font-size: 16px;
    line-height: 28px;
    margin: 10px auto;
    text-align: center;
  }

  .hero-action {
    flex-direction: column;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .hero-connect,
  .hero-resume {
    padding: 15px 30px;
    border-radius: 35px;
  }
} 
